/* Main Body Styling */

.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;  
    padding: 5px;
}

body {
    background-color: lightskyblue;
}
h1 {
    background-color: royalblue;
}
/* Detailed List Styling */

dl {
    background-color: royalblue;
}
dt {
    font-size: 1.15rem;
}

dd {
    margin-left: 0;
}

/* Image Styling and Float */

img {
    max-width: 150px;
    float: left;
}
